<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
  <meta charset="UTF-8">
  <title>登录</title>
  <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<form id="login-form">
  <div>
    <label for="username">用户名：</label>
    <input type="text" id="username" name="username" placeholder="请输入">
  </div>
  <div>
    <label for="password">密码：</label>
    <input type="password" id="password" name="password" placeholder="请输入">
  </div>
  <button type="submit">登录</button>
</form>
<div id="msg"></div>
<script>
  $(function () {
    $('#login-form').submit(function () {
      $.ajax({
        url: '/login',
        method: 'POST',
        data: $(this).serialize(),
        success: function (data) {
          if (data.code === '0') {
            window.location.href = '/main';
          } else {
            $('#msg').text(data.msg);
          }
        },
        error: function () {
          $('#msg').text('登录失败');
        }
      });
      return false;
    });
  });



</script>


<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>

